11.1

In [2]:
import zoo

zoo.hours()

Open 9-5 daily

11.2

In [3]:
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

16.8

In [18]:
import sqlalchemy as sa

con = sa.create_engine('sqlite://')

con.execute("create table books (title varchar, author varchar, year varchar)")

ins = "insert into books (title, author, year) values (?, ?, ?)"

con.execute(ins, "The Weirdstone of Brisingamen","Alan Garner","1960")
con.execute(ins, "Perdido Street Station","China Mi√©ville","2000")
con.execute(ins, "Thud!","Terry Pratchett","2005")
con.execute(ins, "The Spellman Files","Lisa Lutz","2007")
con.execute(ins, "Small Gods","Terry Pratchett","1992")

rows = con.execute("select title from books order by title")

for row in rows:
    print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!